.content__section {
    background-color: #FFF;
    font-family: Raleway, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 90px 50px 98px 50px;
}

.header__logo-image {
    width: 147px;
    height: 105px;
}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 34px;
    list-style-type: circle;
}

.header__nav-item {
    font-size: 18px;
    line-height: 1.25;
    border-bottom: 1px solid #000;
}

.header__nav-item-active .header__nav-link {
    list-style: none;
}

.header__nav-item-active {
    list-style: none;
    border: none;
}

.address {
    max-width: 240px;
    justify-self: end;
}

.address-item {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    font-style: normal;
    list-style: none;
    display: inline-block;
    border-bottom: 1px solid #000;

}

.address-item--active {
    border: none;
}

.cover {
    position: relative;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover_title {
    position: relative;
    padding: 155px 30px 0 50px;
    width: 100%;
    color: #FFF;
    font-weight: 700;
    font-size: 100px;
    line-height: 1.3;
    z-index: 2;
}

.accent-span {
    display: block;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.text-center {
    text-align: center;
    margin: 5px -10px 0 0;
}

.text-right {
    text-align: right;
    margin: 5px -10px 0 0;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px 48px 50px;
}

.cover__description-text {
    color: #FFF;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1.27;
    word-spacing: 19px;
}

.bet-button {
    text-transform: uppercase;
    background: none;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 22px;
    line-height: 1.17;
    padding: 11px 31px;
}

.lots {
    position: relative;
}

.lots__heading {
    padding: 182px 0 0 64px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.17;
}

.lots__card-list {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 27px 24px 0;
}

.lots__card-list-item {
    min-height: 596px;
    width: 334px;
    flex-grow: 1;
}

.card-link {
    height: 100%;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.card__image {
    background-size: cover;
    background-position: center;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card__title {
    padding: 48px 40px 0;
    color: #fff;
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: underline;
}

.card__text {
    padding: 0 40px 48px;
    color: #FFF;
    position: relative;
    z-index: 2;
    font-size: 20px;
    line-height: 1.2;
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}


.lots__look-more-link {
    color: #000;
    font-size: 20px;
    line-height: 1.17;
    display: inline-block;
    border-bottom: 1px solid #000;
    margin: 30px 0 0 64px;
}

.about__column {
    display: grid;
    grid-template-columns: 359px 1fr;
    margin: 118px 0 0 12px;
    justify-items: center;
}

.about__logo {
    display: flex;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    margin-top: 35px;
}

.about__logo-image {
    justify-content: center;
    align-items: center;
    padding: 62px 45px;
}

.about__title {
    display: block;
    padding: 136px 0 100px 11px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.17;
    text-transform: uppercase;
}

.container__about {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about__text {
    margin-right: 30px;
    padding-left: 12px;
    font-size: 20px;
    line-height: 1.2;
}

.footer {
    margin-top: 180px;
    padding: 0 0 82px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    justify-items: center;
}

.footer .address {
    justify-self: start;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    justify-self: center;
    padding-right: 50px;
}

.footer__menu-link {
    font-size: 18px;
    line-height: 1.17;
    display: inline-block;
    border-bottom: 1px solid #000;
}

.footer__menu-link_active {
    border: none;
}

.footer__social-icon {
    display: block;
    width: 48px;
    height: 48px;
}

.footer__social-list-item {
    list-style: none;
}

.footer__links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 42px;
    margin-left: 20px;
}
